.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 600px;
  margin: 0 auto;
  flex: 1;
  text-align: center;
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--fz-text-primary);
  margin: 0;
  line-height: 24px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: var(--fz-text-primary);
  margin: 0;
  line-height: 24px;
}
