.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
  flex: 1;
  text-align: center;
  width: 100%;
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin: 0;
  line-height: 24px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  line-height: 24px;
  max-width: 840px;
}
