.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 1;
  min-height: 100%;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--fz-text-primary);
  margin: 0;
}

.description {
  font-size: 16px;
  color: var(--fz-text-primary);
  line-height: 24px;
  margin: 0;
  max-width: 840px;
}
