.breadcrumb {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  margin-bottom: 4px;
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.link {
  color: #031419;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: opacity var(--fz-transition-fast);
}

.link:hover {
  opacity: 0.7;
}

.current {
  color: #031419;
  font-weight: 400;
}

.separator {
  color: #031419;
  font-size: 10px;
  opacity: 0.5;
}
